{% load static %}
<html>
  <head>
      <title>{% block title %}MCQ Quiz{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'popper.min.js' %}" ></script>
    <script src="{% static 'bootstrap.min.js' %}" ></script>
    </head>

    <body class="container">
    {% block content %}
    {% endblock content %}

    </body>
    <html>