.mode-buttons{
    text-align: center;
    margin: auto
}
.mode-buttons .btn{
    height:200px;
    width: 200px;
    padding-top: 70px;
    font:50px Georgia;
    margin: 20px
}
.question-container{
    margin:10px;
    border-bottom:2px solid grey;
    padding:10px;
    max-height: 100%;
}
.question-container .question {
    margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;
    padding:5px 10px;
}
.question h5{
    font: 25px Georgia;
}
.question img{
    max-height: 40px;
}
.options {
    margin:5px auto;
    border-bottom:1px solid lightgrey;
    padding:10px;
}
.options img{
    max-height: 25px;
}
.options label{
    font:16px Georgia;
}